@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Agrecimentos</h1>
    
    <h1>Integrantes:</h1>
    <p>
        <a>
            Gabriel de Nicola Gonçalves 		 RM 88803
        </a>
        <br />
        <a>
            Gustavo de Souza Nascimento 		 RM 88804
        </a>
        <br />
        <a>
            João Victor Deziderio Chinelato 	 RM 88805
        </a>
        <br />
        <a>
            Nathan Pagliari Augusto    		     RM 88806
        </a>
        
    </p>
</div>
