@model OnibusModel
@{
    ViewData["Title"] = "Confirmaçao Apagar o Contato";
}

<div class="text-center">
    <h3> Deseja Apagar (@Model.Nm_Empresa) </h3>
</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Onibus" asp-action="Index">Cancelar exclusao</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Onibus" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusao</a>